.Count{
    background-color: rgb(192, 57, 8);
    border-radius: 5px;
    width: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.button {
    border-radius: 10px;
    padding: 1px;
    border: none;
}
.menos{
    border-radius: 15px;
    border: none;
}
.mas{
    border-radius: 15px;
    border: none;
}